body {
	color: black;
	margin: 0px;
	text-align: left;
	position: relative;
	font-family: Helvetica;
	margin: 0px;
}

h1,h2,h3,h4 {font-family: 'Montserrat', sans-serif;
}

h3 {font-family: 'Open Sans', sans-serif;
}

h1{
	letter spacing : 10px;
	color: #3b4135;
	font-size: 30px
}

h2{
	font-weight: lighter;
	font-size: 20px;
	position: center;
}

h3{
	font-size: 15px;
	position: center;
	font-weight: lighter;
}


scroll-container {
  display: block;
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 5em;
}

@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card {
    width: 500px;
    position: center;
  }
}

@media (max-width: 540px) {
  .card {
    width: 300px;
    position: center;
  }
}

.profil{
	background: white;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	width: 490px;
	margin: 20px;
	position: fixed;
}

.contact{
	background: white;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;
	width: 710px;
	margin: 20px;
	padding-top: 20px;
}

.experience{
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: left;
	width: 650px;
	margin: 20px;
}

.formation{
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: left;
	width: 650px;
	margin: 20px;
}

.competences{
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: left;
	width: 650px;
	margin: 20px;
}

.interets{
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: left;
	width: 650px;
	margin: 20px;
}

footer:hover {
	background-color: white;
}

.footer{
	background-color: #bfd9d7;
	color: black;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	height: 150px
	width:650px;
	margin: 20px;
	padding:20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
}


.card{
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
  text-align: center;
}

.cards2 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.card2{
  flex-basis: 100px;
  flex-grow: 1;
  margin: 10px;
  text-align: center;
}

.cards3 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: #bfd9d7;
  height: 150px
  width:650px;
  padding:0px;
}

.card3{
  flex-basis: 100px;
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  color: white;
  padding: 10px;
  padding-bottom: 5px
}